#div1{
    width: 120px;
    height: 130px;
    background-color: #ffaadd;
    }
#div2{
    width: 200px;
    height: 230px;
    background-color: #9182dd;
    }
#div3{
    width: 330px;
    height: 440px;
    background-color: #00dadd;
    }
#div4{
    width: 320px;
    height: 110px;
    background-color: #ffaa11;
    }
#div5{
    width: 130px;
    height: 130px;
    background-color: #100add;
    }
#div6{
    width: 230px;
    height: 330px;
    background-color: #901add;
    }
#div7{
    width: 220px;
    height: 430px;
    background-color: #123add;
    }
#div8{
    width: 130px;
    height: 230px;
    background-color: #ff01dd;
    }
#div9{
    width: 170px;
    height: 160px;
    background-color: #dadffd;
    }
#div10{
    width: 720px;
    height: 930px;
    background-color: #990011;
    }
