#p1{
    color: rgb(122, 32, 80);
    background-color: rgb(200, 180, 170);
    }
#p2{
    color: rgb(12, 132, 180);
    background-color: rgb(100, 150, 170);
    }

#p3{
    color: rgb(12, 32, 40);
    background-color: rgb(20, 120, 120);
    }
#p4{
    color: rgb(222, 212, 180);
    background-color: rgb(200, 80, 110);
    }
#p5{
    color: rgb(12, 2, 80);
    background-color: rgb(10, 180, 170);
    }
#p6{
    color: #ffaa23;
    background-color: #21f9af;
    }
#p7{
    color: #affaff;
    background-color: #4152af;
    }
#p8{
    color: #98fa71;
    background-color: #ffffff;
    }
#p9{
    color: #afffff;
    background-color: #123456;
    }
#p10{
    color: #444fff;
    background-color: #efaa91;
    }