@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=SmoochSans:wght@100..900&display=swap');

@font-face {
    font-family: "smoochsans";
    src: url(SmoochSans-VariableFont_wght.ttf) format(opentype);
}

body{
    font-family: "smoochsans";
}